/************IPad**************/
@media only screen and (min-width: 992px) and (max-width: 1200px) {


    body {
        background-color: rgb(178, 205, 182);
        font-size: 14px;
        line-height: 20px;
    }
    /* product details page  */
    .add-buttons a,
    .add-buttons button{
        padding: 7px;
    }
    .add-buttons .add-to-wishlist{
        margin-left: 5px;
    }

    /* shoping card page  */
    #product-carosule .owl-nav .owl-prev {
        right: 12%;
    }

    /* order chckout and recived page  */
    .order-recived-card {
        padding: 20px 10px;
    }
    .order-recived-card .order-details h6 {
        margin-right: 40px;
    }
}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    body {
        background-color: brown !important;
        font-size: 12px;
        line-height: 22px;
    }

    /* portfolio page 1 */
    .mixcontrols {
        margin-left: 30px;
        width: 60%;
    }
    .mixit-up-section-v-2 .mix.design,
    .mixit-up-section-3 .mix.design{
        width: 60%;
    }
    .mixit-up-section-v-2 .mix.market,
    .mixit-up-section-3 .mix.market {
        width: 38%;
    }

    .mixit-up-section-v-2 .mix.adsnetwork,
    .mixit-up-section-3 .mix.adsnetwork{
        width: 38%;
    }

    .mixit-up-section-v-2 .mix.awesome,
    .mixit-up-section-3 .mix.awesome{
        width: 38%;
    }

    /* shop page 1  */
    .product-catagory-section .fh-float-left,
    .product-catagory-section .fh-float-right {
        width: 100%;
        overflow: auto;
        margin-bottom: 20px;
    }
    .product-catagory-section select {
        width: 10rem;
        padding:7px;
    }

    /* shoping card page  */
    .product-items .title-sm {
        font-size: 14px;
        line-height: 20px;
    }
    .product-items table td {
        padding: 15px 5px;
    }
    .item-count_discount-code .count {
        width: 50px;
        padding: 0 3px;
    }
    .chackout a {
        padding: 10px 10px;
    }
    #product-carosule .owl-nav .owl-prev {
        right: 15%;
    }
    /* shop chackout page  */
    .login-area  #password {
        margin-left: 0%;
    }
    .login-area input {
        width: 49%;
    }
    /* order chckout and recived page  */
    .order-recived-card {
        padding: 20px 10px;
    }
    .order-recived-card .order-details h6 {
        margin-right: 40px;
    }

} 


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    body {
        background-color: rgb(16, 123, 100) !important;
        font-size: 14px;
        line-height: 24px;
    }

    /* navigation for every page  */
    .title-lg{
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    /* Search result page  */
    .search-result .page-link {
        margin: 0;
        margin-bottom: 40px;
    }
    
    /* Introducting box page css   */
    /* owl nav bar  */
    .owl-theme .owl-nav {
        display: none;
    }

    /* contact page 1 css  */
    .contact-address-area .text-area {
        margin-left: 0;
    }
    
    /* contact page 2 css  */

    /* contact page 3 css  */
    .contact-form-block.varsion-3 .form-left-content,
    .contact-form-block.varsion-3 .form-right-content {
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    /* Portfolio page 1  */
    .mix.design {
        width: 100%;
    }

    .mix.market {
        width: 49%;
    }

    .mix.adsnetwork {
        width: 49%;
    }

    .mix.awesome {
        width: 49%;
    }

    .mixcontrols {
        margin-left: 30px;
        width: 80%;
    }

    /* portfolio page 4  */
    .form-area .form-name, 
    .form-area .form-email, 
    .form-area .form-subject {
        width: 97%;
    }
    /* shop page 1  */
    #top-banner .top-banner-img {
        height: 200px;
    }
    .banner-content {
        right:20%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    .banner-content h5 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 0;
    }
    .banner-content h1 {
        font-size: 20px;
        line-height: 25px;
    }
    .banner-content .more-info {
        margin-bottom: 10px;
    }
    .banner-content .more-info a {
        font-size: 10px;
    }
    .banner-content .hot-price {
        margin-top: 20px;
        width: 80px;
        height: 80px;
        border: 2px solid #767d81;
    }
    .banner-content .hot-price::after {
        width: 50px;
        height: 50px;
        font-size: 12px;
        top: -25px;
        right: -20px;
    }

    .product-catagory-section {
        padding: 45px 0;
    }

    .product-catagory-section .fh-float-left,
    .product-catagory-section .fh-float-right {
        width: 100%;
        overflow: auto;
        margin-bottom: 20px;
    }
    .product-catagory-section select {
        width:100%;
        padding:7px;
    }
    .product-catagory-section .left-side-catagory {
        flex-direction: column;
        gap: 10px;
    }
    .left-side-catagory .short-by,
    .left-side-catagory .assending,
    .left-side-catagory .show,
    .left-side-catagory .choose-by {
        margin-left: 0;
    }


    /* product details page  */
    .top-product-list-area .product-card .img-area{
        float: left;
        width: 100%;
        border-bottom: 1px solid #dfe5e9;
      }
      .top-product-list-area .product-card .right-side{
        float: left;
        width: 100%;
      }

      .top-product-list-area .product-card  .card-footer {
        padding: 5px 0px;
        flex-direction: column;
      }
      .add-buttons .add-to-wishlist {
        margin-left: 0;
    }

    /* shoping card page  */
    .chackout a {
        padding: 10px 5px;
        font-size: 12px;
    }
    .product-items .title-sm {
        font-size: 14px;
        line-height: 20px;
    }
    .product-items{
        overflow-x: auto;
    }

     /* shop chackout page  */
     .login-area  #password {
        margin-left: 0%;
    }
    .login-area input {
        width: 49%;
    }
    .biling-addres #lname, .biling-addres #fphone {
        width: 50%;
        margin-left: 0;
    }
    .biling-addres .title-sm{
        margin-bottom: 50px;
      }
    .chackbox {
    position: absolute;
    left: 0;
    top: -40px;
    }
    /* order chckout and recived page  */
    .order-recived-card {
        padding: 20px 10px;
    }
    .order-recived-card .order-details{
        overflow: auto;
    }
    .order-recived-card .order-details h6 {
        border: 0;
    }
    .order-recived-section .textarea h6 {
        font-size: 15px;
        line-height: 25px;
    }

}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 576px) and (max-width: 767px) {

    body{
        background-color: rgb(238, 255, 0);
    }
    .mix.design{
        width: 55%;
      }
    .mix.market{
        width: 40%;
      }
      .mix.adsnetwork{
        width: 40%;
      }
      .mix.awesome{
        width:40%;
      }

}

